body {
    display: flex;
    justify-content: center;
    color: white;
}

#main {
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 650px;
    margin-top: 150px;
    border-radius: 5px;
    background-color: rgb(39, 168, 185);
    box-shadow: 3px 3px 3px 2px rgba(99, 99, 99, .8);
}

.form {
    display: inline-block;
}

.table {
    display: inline-block;
}

hr {
    margin: 0;
    margin-top: 15px;
    height: 95%;
    color: white;
}

label {
    margin: 0 0 5px 5px;
}

input {
    display: block;
    margin: 0 0 5px 5px
}

button {
    margin: 0 0 5px 5px;
}

table {
    margin-top: 27px;
}

th {
    width: 100px;
    border: solid 1px white;
}

tbody td:nth-child(4) {
    display: flex;
    justify-content: space-around;
}

tbody td:nth-child(3) {
    text-align: end;
}

td {
    padding: 2px 10px;
    border: solid 1px white;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(17, 218, 141);
}